.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    .title {
        color: var(--text-color-primary);
        font-size: 2.25rem;
        font-weight: 600;
    }

    .text {
        color: var(--text-color-secondary);
        font-size: 1.125rem;
    }

    .list {
        padding: 0 0 0 20px;
        margin: unset;

        .item {
            padding: unset;
            color: var(--text-color-primary);
            font-size: 1.5rem;

            .linkButton {
                color: var(--text-color-primary);
                font-size: inherit;
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
                background: none;
                border: none;
            }
        }
    }
}

.marginTop {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        .title {
            font-size: 1.5rem;
        }

        .text {
            font-size: 1rem;
        }

        .list {
            .item {
                font-size: 1.25rem;
            }
        }
    }
}