:root {
  font-family: "Instrument Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-bg-color: #14151c;
  --secondary-bg-color: #272933;
  --header-height: 90px;
  --text-color-primary: #ffffff;
  --text-color-black: #000000;
  --text-color-secondary: #C0C2CE;

  --white-color: #ffffff;
  --error-color: #FC7D7D;
  --accent-color: #34DEDC;
  --disabled-bg-color: #5b5d69;
  --disabled-text-color: #6c6e75

  --primary-glow: conic-gradient(from 0deg at 50% 50%, #a6efff 0deg, rgb(18, 173, 230) 180deg, rgb(76, 99, 252) 360deg);
  --secondary-glow: conic-gradient(from 0deg at 50% 50%, #ff0080 0deg, rgb(238, 0, 255) 54.89161972682219deg, #00a6ff 106.69924423399361deg, #4797ff 162deg, #04f 252.00000000000003deg, #ff8000 306.00000000000006deg, rgb(255, 0, 204) 360deg);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}